you are signed in as ID number: <%= @user.id %> <br>
user name: <%= @user.first_name %> <br>
users username: <%= @user.username %> 
<br>
<br>
date: <%= @datecard.date %><br>
datecard id number is: (NOT USEFUL) <%= @datecard.id %><br>
datecard creator: <%= @datecard.user.first_name %><br>
datecards user id number is: <%= @datecard.user_id %>
<br>
<br>
<br>

<% @user.goals.each do |goal| %>

goal: <%= goal.goal_name %><br>
    <form action="/gdcs" method="post">
        <label for="goal_id">Goal ID:</label>
        <input type="text" name="gdc[goal_id]" value="<%=goal.id%>"><br>

        <label for="date_card_id">date_card_id:</label>
        <input type="text" name="gdc[date_card_id]" value="<%=@datecard.id%>"><br>

    <input type="submit" value="View & edit this goal, for this date.">
    </form>


    <br>

    <br>


    <% end %>





<%if @datecard.user_id == session[:user_id] %>
<form action="/dates/<%=@datecard.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit">Click to delete this date record, forever!</button>
</form>
<% end %>