<br>
<h2>Please complete the information for this days goals below:</h2>
<br>

<%= @user.goal_date_cards.where(date_card_id: @datecard.id).all %><br>
<% @user.goals.each do |goal| %>


Goal: <%= goal.goal_name %><br>

    <% @gdcs.each do |gdc| %>

        <%if gdc.goal_id == goal.id %>
            <%if goal.goal_type == "1" && gdc.binary_completed == "3" %>
            <p style="color:red">THIS GOAL HAS NOT BEEN EDITED</p>
            <% elsif goal.goal_type == "1" && gdc.binary_completed != "3" %>
            <p style="color:blue">updated! 1/completed, 2/not completed, status: <%= gdc.binary_completed %></p>
            <% elsif goal.goal_type == "2" && gdc.qty_completed == -1 %>
            <p style="color:red">THIS GOAL HAS NOT BEEN EDITED</p>
            <% elsif goal.goal_type == "2" && gdc.qty_completed != -1 %>
            <p style="color:blue">updated! quantity: <%= gdc.qty_completed %></p>
            <% end %>
        <% end %>
    <% end %>

    <form action="/gdcs" method="post">
        <% if goal.goal_type == "1" %>
        
        <input type="radio" id="goal_type" name="gdc[binary_completed]" value="1">
        <label for="goal_type">Yes, achieved</label><br>
        <input type="radio" id="goal_type" name="gdc[binary_completed]" value="2">
        <label for="goal_type">Not achieved</label><br>
        <% end %>

        <% if goal.goal_type == "2" %>
        This is a quantity tracking goal.<br>
        <label for="qty_completed">enter quantity completed for today:</label><br><br>
        <input type="text" name="gdc[qty_completed]" value=""><br>
        <% end %>
        <input type="hidden" name="gdc[goal_id]" value="<%=goal.id%>">
        <input type="hidden" name="gdc[date_card_id]" value="<%=@datecard.id%>"><br>
    <input type="submit" value="Click here to submit goal information for <%=@datecard.date%>.">
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>

    <% end %>

<%if @datecard.user_id == session[:user_id] %>
<form action="/dates/<%=@datecard.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit">Click to delete this date record, forever!</button>
</form>
<% end %>