<h1>Welcome <%= @user.first_name %></h1>
<br>

<h1>you can update your information below!</h1>
<form action="/users/<%= @user.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<p>First Name: <input type="text" name="update[first_name]" id="name" value="<%=@user.first_name%>"></p>
<p>User Password: <input type="password" name="update[password]" id="name" value="<%=@user.password%>"></p>
<button type="submit">Click to update your user profile</button>
</form>

<br>
<br>

<form action="/users/<%= @user.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit">Click to delete your user profile, forever!</button>
</form>