<h1>Welcome, thanks for singing up!</h1>
<br>

<p>Please take some time to fill out your goals.  You have up to 10 goals to add.  Goals not checked will not be tracked, so you only need to check the boxes you would like to track.</p>
<br>
<form action="/users/welcome" method="post">
<% @range.each do |i| %>
<p>Check to track: <input type="checkbox" name="goal[goal_enabled_<%= i %>]"></p>
<p>Units & Goal Name: <input type="text" name="goal[goal_name_<%= i %>]"></p>
<p>Goal frequency (days, integer only): <input type="integer" name="goal[goal_frequency_<%= i %>]"></p>
<p>Goal type:</p>

<input type="radio" id="1"
name="goal[goal_type_<%= i %>]" value="Achieved / Not Achieved" </p>
<label for="1">Achieved / Not Achieved</label><br>


<input type="radio" id="2"
name="goal[goal_type_<%= i %>]" value="Units Tracking" </p>
<label for="2">Units Tracking</label><br>
<br>

<p>If units tracking, enter desired amount per so many days: <input type="integer" name="goal[goal_units_<%= i %>]"></p>
<br>
<br>
<% end %>
<button type="submit">Click to save your goals</button>
</form>
