goals show.erb this will show you one goal
<br><br>

Goal Owner ID number: <%= @goal.user_id %><br>
Goal Name: <%= @goal.goal_name %><br>
goal frequency, you aim to achieve this every <%= @goal.goal_frequency %> days.<br>
goal type: <%= @goal.goal_type %><br>
goal guantity: <%= @goal.goal_qty %><br>
<br>


you are signed in as ID number: <%= @user.id %> <br>
user name: <%= @user.first_name %> <br>
users username: <%= @user.username %> 
<br>
<br>

<%if @goal.user_id == session[:user_id] %>
<form action="/goals/<%=@goal.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<button type="submit">Click to edit this goal record!</button>
</form>

<br><br>

<form action="/goals/<%=@goal.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit">Click to delete this goal record, forever!</button>
</form>
<% end %>