
<br>
<br>
user name: <%= @user.first_name %> <br>
username: <%= @user.username %> <br><br>
Goal Name: <%= @goal.goal_name %><br><br>
<% if @goal.goal_type = "1" %>
goal frequency, you aim to achieve this every <%= @goal.goal_frequency %> days.<br>
<%else%>
goal guantity: <%= @goal.goal_qty %><br>
<% end %>
<br>




<br>
<br>

<%if @goal.user_id == session[:user_id] %>
<form action="/goals/<%=@goal.id%>/edit" method="get">
<button type="submit">Click to edit this goal record!</button>
</form>

<br><br>

<form action="/goals/<%=@goal.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit">Click to delete this goal record, forever!</button>
</form>
<% end %>