<br>
<h2>REPORT CARD</h2>
Report generated for date ending <%= @last_date %> and the preceding <%=@summary[0][:date_array]-1%> day(s)
<br>
<br>

<style>
table, th, td {
  border: 1px solid black;
  text-align: left;
  border-spacing: 2px;
  padding: 2px;
}
</style>

<table style="width:100%">
  <tr>
    <th>Goal Name</th>
    <th>Targeted Frequency</th>
    <th>Total Date Range</th>
    <th>Times Achieved/units completed</th>
    <th>Percentage</th>
    <th>Grade</th>
  </tr>
  <% @summary.each do |i| %>
  <tr>
    <td><%= i[:goal_name] %></td>
    <td><%= i[:goal_frequency] %></td>
    <td><%= i[:date_array] %></td>
    <td><%= i[:counter] %> <%= i[:units] %></td>
    <td><%= i[:percentage] %>%</td>
    <td><%= i[:grade] %></td>
  </tr>
  <% end %>
</table>
<br>